{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "tests"
    },
    "logs": {
        "badge": {
            "branch": "master"
        },
        "text": "logs\/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
