parameters:
	ignoreErrors:
		-
			message: "#^Method Brotkrueml\\\\JobRouterClient\\\\Client\\\\ClientDecorator\\:\\:request\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ClientDecorator.php

		-
			message: "#^Method Brotkrueml\\\\JobRouterClient\\\\Client\\\\ClientInterface\\:\\:request\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Client/ClientInterface.php
